[submodule "crates/blazingly-contract"]
	path = crates/blazingly-contract
	url = ../blazingly-contract
[submodule "crates/blazingly-wire"]
	path = crates/blazingly-wire
	url = ../blazingly-wire
	branch = main
[submodule "crates/blazingly-json"]
	path = crates/blazingly-json
	url = ../blazingly-json
	branch = main
